body{
    background-color: rgb(42, 99, 163);
    color: white;
}

.container{
    width: 80%;
    margin: auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
}

.container2{
    padding: 20px;
    background-color: rgb(0, 0, 0);
    border-radius: 10px;
}