body{
    background-color: rgb(42, 99, 163);
    color: white;
    margin: 0;
}

.container{
    background-image:url(imgs/fondo.png);
    
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 100vh;
    padding: 0;
}

.header1 {
    background-color: #011031;
    color: white;
    padding: 10px 0;
    text-align: center;
}

.header2 {
    display: flex;
    justify-content: space-around;
    padding: 10px 100px 10px 100px;
    background-color: #ffffff;
    color: #747474;
    width: auto;
    height: 60px;
    text-align: center;
}

h2 {
    margin: 0;
}

h1 {
    margin: 0;
}

