body{
    display: flex;
    justify-content: center;
    background-color: #011b58;
    color: white;
    margin: 0;
    font-family: Arial, sans-serif;
}

.todo {
    background-color: #011b58;
}

.container{
    background-image:url(imgs/fondo.jpg);    
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 50vh;
    color: #011b58;
    padding: 250px 0 60px 300px;    
}
.header1 {
    display: flex;
    justify-content: space-between;
    background-color: #011031;
    color: white;
    padding: 0 300px 0 300px;
    text-align: center;
    align-items: center;
}

.subheader {
    display: flex;
    align-items: center;
    gap: 15px;}

.header2 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px 300px 10px 300px;
    background-color: #ffffff;
    color: #747474;
    width: auto;
    height: 60px;
    text-align: center;
    font-weight: bold;
}

h2 {
    margin: 0;
}

h1 {
    margin: 0;
}

.textoG {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 20px;
}

.textoG p{
    margin: 8px 0 8px 0;
}

button {
    background-color: #ffffff;
    color: #011b58;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.pie {
    display: flex;
    background-color: #011b58;
    justify-content: center;
    padding: 20px 300px 20px 300px
}

.pie h3 {
    border-right: #ffffff 2px solid;
    width: 200px;
    padding: 0 50px 0 0;
}

.pie p {
    font-size: smaller;
    width: 450px;
    padding: 0 50px 0 50px;
}

.pie button {
    background-color: #ffffff;
    color: #011b58;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    padding: 15px 20px;
    font-size: 16px;
    cursor: pointer;
    align-self: center;
}

.abajo {
    background-color: #ffffff;
    color: black;
    text-align: center;
    padding-top: 65px ;    
    height: 50px;
}